
/*  Navigation */

@media all and (min-width:768px){
	#bs-example-navbar-collapse-1 li{
	transition:0.3s;
	-moz-transition:  0.3s; /* Firefox 4 */
	-webkit-transition: 0.3s; /* Safari and Chrome */
	-o-transition:  0.3s; /* Opera */
	}
	#bs-example-navbar-collapse-1 li:hover{
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);/* Safari and Chrome */
	-moz-transform: scale(1.2,1.2);/* Firefox */
	}
	.navbar-custom .navbar-brand {
	transform:rotate(-30deg); 
	-ms-transform:rotate(-30deg); 	/* IE 9 */
	-moz-transform:rotate(-30deg); 	/* Firefox */
	-webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
	-o-transform:rotate(-30deg); 	/* Opera */
	margin: 35px;
	font-style: italic;
	text-transform: uppercase;
	transition:0.3s;
	-moz-transition:  0.3s; /* Firefox 4 */
	-webkit-transition: 0.3s; /* Safari and Chrome */
	-o-transition:  0.3s; /* Opera */
	}
	.navbar-custom .navbar-brand:hover{
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);/* Safari and Chrome */
	-moz-transform: scale(1.2,1.2);/* Firefox */
	}
	.navbar-custom.is-fixed .navbar-brand {
	transform:rotate(0deg); 
	-ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg); 	/* Opera */
	margin: 0px;
	}
	.navbar-right{font-style:italic}
}

/*  MySignature  */

#MySignature {
	margin: 30px auto;
	width: 370px;
	border: dotted 1px #999;
	font-size: 12px;
	line-height: 150%;
	border-radius: 4px;
	height: 80px;
}
#MySignature img {
	border-radius: 50%;
	width: 60px;
	float: left;
	margin: 10px 20px;
	-webkit-border-radius: 30px;/*圆角效果：兼容webkit浏览器*/
	-moz-border-radius: 30px;
	box-shadow: inset 0 -1px 0 #3333sf;/*设置图像阴影效果*/  
	-webkit-box-shadow: inset 0 -1px 0 #3333sf;
    -webkit-transition: 0.5s;   
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;/*变化时间设置为0.5秒*/
    -moz-transition: -moz-transform 0.5s ease-out;
        
}
#MySignature img:hover{/*设置鼠标悬浮在头像时的CSS样式*/
    box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    -webkit-box-shadow: 0 0 10px #fff; rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
    transform: rotateZ(360deg);/*图像旋转360度*/
    -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
}

.post-content h1{font-size:30px;margin:1.5em auto;}
.post-content h2{font-size:24px;margin:1.2em auto;}
.post-content h3{font-size:18px;margin:1.2em auto;}
.post-content h4{font-size:16px;margin:1em auto;}
/* # 标签的标题 */
.post-content h5{font-size:16px;margin:1em auto;}
.post-content h5::before {
    content: "#";
    padding-right: 0.5em;
    color: #4da6ff;
}
/* 图表标题 */
.post-content h6{font-size:16px;margin:1.5em auto;text-align:center} 


/* 上下篇 */

.previous, .next{
margin-left: 0em;
transition:margin-left 0.5s;
-moz-transition:margin-left 0.5s; /* Firefox 4 */
-webkit-transition:margin-left 0.5s; /* Safari and Chrome */
-o-transition:margin-left 0.5s; /* Opera */
}
.previous:hover, .next:hover
{
margin-left: 1em;
}

/* footnote */

a.footnote {
    padding: 0.25em;
    color: green;
    text-decoration: none;
}
a.reversefootnote {
    color: pink;
	text-decoration: none;
}
a.footnote:hover {
    color: red;
}
a.reversefootnote:hover {
    color: red;
}
a.footnote::before {
    content: "[";
}
a.footnote::after {
    content: "]";
}
.footnotes {
    margin-top: 2em;
}
/*<style >
#337ab7