<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" style="font-family:rm"><i class="fa fa-home">&nbsp;&nbsp;</i>{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="font-family:rm;font-style:italic">
                {% for page in site.pages %}{% if page.title %}
                <li>
					<a href="{{ page.url | prepend: site.baseurl }}"><i id="nav-{{ page.title }}">&nbsp;&nbsp;</i>{{ page.title }}</a>
                </li>
                {% endif %}{% endfor %}<!--
				{% if site.github_username %}
				<li>
                    <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github">&nbsp;</i>Github</a>
                </li>
				{% endif %}-->
				<li>
                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss">&nbsp;</i>RSS</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<script type="text/javascript">
	$(document).ready(function() {
		$("#nav-About").addClass("fa fa-user"); 
		$("#nav-Lifeline").addClass("fa fa-clock-o"); 			
		$("#nav-Shared").addClass("fa fa-heart"); 
		$("#nav-Tags").addClass("fa fa-tags"); 
	});
</script>
