---
layout: default
---

<!-- Post Header -->
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="Tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/tags/#{{ tag }}" title="{{ tag }}"><i class="fa fa-tags">&nbsp;&nbsp;</i>{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta"><i class="fa fa-clock-o">&nbsp;&nbsp;</i>Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<article>
    <div class="container">
			<div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
              
            <div class="post-content">
				
                	{{ content }}
                	
				<div id="MySignature" style="display: block;">
					<a href="http://blog.zhaohengbo.com/about"><img src="{{ site.url }}/img/res/pandaman.jpg"></a>
					<div style="padding-top:14px;padding-right:14px;">
					如果您喜欢这篇文章，欢迎转载、演绎或用于商业目的，但请务必保留作者署名以及本文链接！</div>
					<div style="text-align:right;padding-top:2px;padding-right:16px;">Copyright&nbsp;©&nbsp;<a href="http://blog.zhaohengbo.com/about">Pandaman</a></div>
				</div>

            </div>

                <!-- pager -->
                
                 <ul class="pager"  style="text-align:left">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" >
						<i class="fa fa-reply">&nbsp;&nbsp;</i>上一篇：{{page.previous.title}}</a>
                    </li>
                    {% endif %}
                    <br/>
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" >
						<i class="fa fa-share">&nbsp;&nbsp;</i>下一篇：{{page.next.title}}</a>
                    </li>
                    {% endif %}
                </ul>               
                
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>

gitment.render('container')
	const myTheme = {
  render(state, instance) {
    const container = document.createElement('div')
    container.lang = "en-US"
    container.className = 'gitment-container gitment-root-container'
    container.appendChild(instance.renderHeader(state, instance))
    container.appendChild(instance.renderEditor(state, instance))
    container.appendChild(instance.renderComments(state, instance))
    container.appendChild(instance.renderFooter(state, instance))
    return container
  },
}

var gitment = new Gitment({
  id: 'location.href', // 可选。默认为 location.href
  owner: 'ceares',
  repo: 'gitment',
  oauth: {
    client_id: '54d577d5aa369ead7180',
    client_secret: '51ed5d85d883b8f7e4cfbf26111fa2084c4a8727',
  },
})
</script>

            </div>
        </div>
    </div>
</article>


<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>

<!--图片居中-->
<script type="text/javascript">
	$(document).ready(function() {
		$(".post-content img").wrap("<center></center>");
});
</script>

<br />
<hr />

